
.katta {
    position: relative;
    border: 1px solid green;
    height: 36px;
}

.ctn1 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 5%;
    transform: translate(-50%,-50%);
}

.ctn2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ctn3 {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 1%;
    transform: translate(-8%,-50%);
}   

.nav-dib {
    display: inline-block;
}

.search {
    width: 300px;
}

.fa-search {
    font-size: 14px;
}

img {
    padding: 0px 5px;
}


.search {
    border: none;
}

i {
    display: inline-block;
    padding: 5px 15px;
}

div {
    display: inline-block;
}


.fa-keyboard {
    position: absolute;
    right: 40px;
}

.input_keyboard {
    font-size: 16px;
}

.search {
    padding: 5px 10px;
}

.hamma {
    /* position: relative; */
}

.participants {
    position: relative;
    display: inline-block;
}

.avatarchalar {
    /* position: absolute;
    right: auto; */
}

.comments {
    /* position: absolute; */
    /* right: auto; */
    /* margin-right: 50px; */
}

.playercha {
    /* height: 100px;
    height: 70px;
    display: block; */
}

.uzun {
    width: 600px;
}

.left {
    /* display: block; */
    /* float: left; */
    /* position: absolute; */
    /* left: 5%; */
    
}

.right {
    /* display: block; */
    float: right;
    /* position: relative;
    right: 1%; */
}



* {
    border: 1px solid greenyellow;
}