body {
    background-color: #000000;
    color: #ffffff;
}
.katta {
    position: relative;
    border: 1px solid green;
    height: 36px;
}

.ctn1 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 5%;
    transform: translate(-50%,-50%);
}

.ctn2 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.ctn3 {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 1%;
    transform: translate(-8%,-50%);
}   

.nav-dib {
    display: inline-block;
}

.search {
    width: 300px;
}

.fa-search {
    font-size: 14px;
}

img {
    padding: 0px 5px;
}


.search {
    border: none;
}

i {
    display: inline-block;
    padding: 5px 15px;
}

div {
    display: inline-block;
}


.fa-keyboard {
    position: absolute;
    right: 40px;
}

.input_keyboard {
    font-size: 16px;
}

.search {
    padding: 5px 10px;
}

.hamma {
    /* position: relative; */
    clear: both;
}

.participants {
    position: relative;
    display: inline-block;
}

.avatarchalar {
    /* right: auto; */
    height: auto;
    border-radius: 50%;
    height: 60px;
    
     
}

.attitude {
    display: block;
}

.guest_avat {
    right: auto;
    border-radius: 50%;
    height: 60px;
    margin-bottom: 30px;
    width: 60px;

}

.subscribe {
    position: absolute;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: red;
    border-radius: 5px;

}

.commentator {
    width: fit-content;

}

.author_time {
    margin-top: 0%;
}

.comments {
    /* position: absolute; */
    /* right: auto; */
    margin-left: 80px;
    width: 500px;


}

.guest_comment {
    margin-left: 0px;
    width: 500px;

}

.playercha {
    /* height: 100px;
    height: 70px;
    display: block; */
}

.fa-stream {
    margin-left: 30px;
}

.scripts {
    width: 600px;
}
.uzun {
    width: 600px;
}

.left {
    /* display: block; */
    /* float: left; */
    /* position: absolute; */
    /* left: 5%; */
    width: 55%;
    margin-left: 10px;

    
}

.right {
    /* display: block; */
    float: right;
    /* position: relative;
    right: 1%; */
    width: 43%;
    margin-right: 10px;


}

.address {
    width: 95%;
    position: relative;
}

.author {
    width: 500px;
    height: auto;
}

.player {
    width: 700px;
    height: auto;
}

.text {
    margin-top: ;
}

.fa-bell {
    padding: 3px;
    margin: 1px;
}



* {
    /* border: 1px solid greenyellow; */
}